@import './../../../globalVariables';

.showElections {
  width: 70%;
  margin: 0 auto;
  padding: 20px;
  .pageHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    color: $primarySkyBlue;
    .btn {
      width: 200px;
    }
  }

  .elections {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;

    .election {
      box-shadow: 0px 0px 10px 0px $primarySkyBlueAlpha;

      color: $primarySkyBlue;
      padding: 10px;
      //   border: 1px solid $primarySkyBlueAlpha;
      border-radius: 4px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      min-height: 200px;

      .details {
        .name {
          margin-bottom: 10px;
        }
        .desc {
          height: 50px;
        }

        p {
          margin: 5px 0;
          font-size: 14px;
          .val {
            padding-left: 4px;
          }
        }
      }
      .actionLinks {
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      transition: 0.3s;
      &:hover {
        background-color: $primarySkyBlue;
        color: #fff;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .showElections {
    width: 100%;

    .elections {
      grid-template-columns: 1fr;
      grid-gap: 20px;
    }
  }
}
